<br>
<div class="row">
    <div class="col-md-11">
        <button ng-disabled="true" class="btn btn-md btn-success">Add Post</button>
        <button ng-click="vm.save()" class="btn btn-md btn-primary">Save</button>
        <button ng-click="vm.close()" class="btn btn-md btn-danger">Close</button>
    </div>
    <br>
    <br>
    <br>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <post-title></post-title>
                <post-description></post-description>
            </div>
        </div>
    </div>
</div>
