<div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Brand</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li ng-show="vm.loggedIn()"><a href="/signup">Signup</a></li>
            <li ng-show="vm.loggedIn()"><a href="" ng-click="vm.signin()">Signin</a></li>
            <li ng-hide="vm.loggedIn()" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{vm.name()}} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/admin">Admin</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a ng-click="vm.logout()" href="">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</div>
